body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 2rem;
    text-align: center;
}

h1,
h2,
h3,
p {
    margin: 0;
    line-height: 1.2;
}

img {
    width: 50px;
    height: 50px;
}

ul {
    list-style: none;
    padding: 2rem 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 2rem;
    min-height: 68vh;
}

li a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    transition: all ease 0.5s;
}

li a:hover {
    background-color: darkblue;
    color: white;
    border-color: darkblue;
    padding: 0.5rem 2rem;
}