<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Meta Tags -->
    <title>UI Components Playground - Testimonial Cards</title>
    <meta name="description" content="Testimonial Cards using HTML and CSS.">
    <!-- Open Graph Meta Tags-->
    <!-- tells social platforms exactly how this content should appear when someone shares the link -->
    <meta property="og:title" content="UI Components Playground - Testimonial Cards">
    <meta property="og:description" content="Testimonial Cards using HTML and CSS.">
    <meta property="og:image" content="../../assets/me.svg">
    <meta property="og:image:width" content="50">
    <meta property="og:image:height" content="68">
    <meta property="og:image:alt" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <!-- Favicon -->
    <link rel="icon" href="../../assets/me.svg">
    <!-- styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0..1&icon_names=home,keyboard_arrow_left,keyboard_arrow_right" />
    <link rel="stylesheet" href="../../index.css">
    <link rel="stylesheet" href="testimonial.css">
</head>

<body>
    <header>
        <a href="../../index.html" class="material-symbols-rounded">home</a>
    </header>
    <main>
        <h1>Testimonial Cards</h1>
        <div class="top-testimonials">
            <div class="testimonial1">
                <p>No one shall be subjected to arbitrary arrest, detention or exile.
                    Everyone is entitled in full equality to a fair and public hearing by an independent and impartial
                    tribunal, in the determination of his rights and obligations and of any criminal charge against him.
                </p>
                <div class="row-div">
                    <img src="../../assets/testimonials-2.avif" alt="user profile picture">
                    <div>
                        <h3>Artem Jones</h3>
                        <p class="role">Junior Frontend Developer</p>
                    </div>
                </div>
            </div>
            <div class="testimonial2">
                <p>No one shall be subjected to arbitrary interference with his privacy, family, home or
                    correspondence, nor to attacks upon his honour and reputation. Everyone has the right to the
                    protection of the law against such interference or attacks.</p>
                <div class="row-div">
                    <img src="../../assets/testimonials-3.jpg" alt="user profile picture">
                    <div>
                        <h3>John Doe</h3>
                        <p class="role">Junior Frontend Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial3">
            <img src="../../assets/testimonials-1.png" alt="user profile picture">
            <div>
                <h3>Jackie Mackle</h3>
                <p class="role">Engineering Manager</p>
                <p>Everyone is entitled in full equality to a fair and public hearing by an independent and
                    impartial tribunal, in the determination of his rights and obligations and of any criminal charge
                    against
                    him. No one shall be subjected to arbitrary interference with his privacy, family, home or
                    correspondence, nor to attacks upon his honour and reputation.</p>
            </div>
        </div>
        <div class="testimonial4">
            <p>Everyone is entitled in full equality to a fair and public hearing by an independent and impartial
                tribunal, in the determination of his rights and obligations and of any criminal charge against him.
                Everyone has the right to the
                protection of the law against such interference or attacks.</p>
            <div class="row-div">
                <button class="material-symbols-rounded">keyboard_arrow_left</button>
                <img src="../../assets/testimonials-1.png" alt="user profile picture">
                <img src="../../assets/testimonials-2.avif" alt="user profile picture">
                <img src="../../assets/testimonials-3.jpg" alt="user profile picture">
                <button class="material-symbols-rounded">keyboard_arrow_right</button>
            </div>
            <p>Artem Jones</p>
        </div>
    </main>
    <footer>&copy; all rights reserved 2026</footer>
</body>

</html>