<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Meta Tags -->
    <title>UI Components Playground - Tooltip UI</title>
    <meta name="description" content="Tooltip UI using HTML and CSS.">
    <!-- Open Graph Meta Tags-->
    <!-- tells social platforms exactly how this content should appear when someone shares the link -->
    <meta property="og:title" content="UI Components Playground - Tooltip UI">
    <meta property="og:description" content="Tooltip UI using HTML and CSS.">
    <meta property="og:image" content="../../assets/me.svg">
    <meta property="og:image:width" content="50">
    <meta property="og:image:height" content="68">
    <meta property="og:image:alt" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <!-- Favicon -->
    <link rel="icon" href="../../assets/me.svg">
    <!-- styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0..1&icon_names=home&display=swap" />
    <link rel="stylesheet" href="tooltip-ui.css">
</head>

<body>
    <header>
        <a href="../../index.html" class="material-symbols-rounded">home</a>
    </header>
    <main>
        <h1>Tooltip UI</h1>
        <nav>
            <a href="#" class="nav-title slide-in">
                Home
                <span class="tooltip">This is homepage</span>
            </a>
            <a href="#" class="nav-title scale">
                About
                <span class="tooltip">Learn about us</span>
            </a>
            <a href="#" class="nav-title">
                Projects
                <span class="tooltip">Our projects</span>
            </a>
            <a href="#" class="nav-title">
                Blog
                <span class="tooltip">This is Blog</span>
            </a>
        </nav>
        <!-- <ul>
            <li>
                <div class="tooltip-container">
                    <p class="tooltip">This is Home</p>
                </div>
                <p class="title">Home</p>
            </li>
            <li>
                <div class="tooltip-container">
                    <p class="tooltip">Here is everything I have built</p>
                </div>
                <p class="title">Projects</p>
            </li>
            <li>
                <div class="tooltip-container">
                    <p class="tooltip">This is Blog</p>
                </div>
                <p class="title">Blog</p>
            </li>
        </ul> -->
    </main>
    <footer>&copy; 2026 Masyitah Salwa. All rights reserved.</footer>

</body>

</html>