<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Meta Tags -->
    <title>UI Components Playground - Image Grid Layout</title>
    <meta name="description" content="Image Grid Layout using HTML and CSS.">
    <!-- Open Graph Meta Tags-->
    <!-- tells social platforms exactly how this content should appear when someone shares the link -->
    <meta property="og:title" content="UI Components Playground - Image Grid Layout">
    <meta property="og:description" content="Image Grid Layout using HTML and CSS.">
    <meta property="og:image" content="../../assets/me.svg">
    <meta property="og:image:width" content="50">
    <meta property="og:image:height" content="68">
    <meta property="og:image:alt" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <!-- Favicon -->
    <link rel="icon" href="../../assets/me.svg">
    <!-- styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0..1&icon_names=home&display=swap" />
    <link rel="stylesheet" href="image-grid-layout.css">
</head>

<body>
    <header>
        <a href="../../index.html" class="material-symbols-rounded">home</a>
    </header>
    <main>
        <h1>Image Grid Layout</h1>
        <div class="outer-grid">
            <div class="inner-grid">
                <img src="../../assets/image-grid1.avif" alt="a foggy beach">
                <img src="../../assets/image-grid2.avif" alt="a living room" class="small-img">
            </div>
            <div class="inverted-grid">
                <img src="../../assets/image-grid3.avif" alt="a table with food" class="small-img">
                <img src="../../assets/image-grid4.avif" alt="a building with red door and tree">
            </div>
            <div class="inner-grid">
                <img src="../../assets/image-grid5.avif" alt="a row of white apartment buildings">
                <img src="../../assets/image-grid6.avif" alt="a view of beach from top of hill" class="small-img">
            </div>
        </div>
    </main>
    <footer>&copy; 2026 Masyitah Salwa. All rights reserved.</footer>
</body>

</html>