<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Meta Tags -->
    <title>UI Components Playground - Restricted Textarea</title>
    <meta name="description" content="Restricted Textarea using HTML, CSS, and JavaScript.">
    <!-- Open Graph Meta Tags-->
    <!-- tells social platforms exactly how this content should appear when someone shares the link -->
    <meta property="og:title" content="UI Components Playground - Restricted Textarea">
    <meta property="og:description" content="Restricted Textarea using HTML, CSS, and JavaScript.">
    <meta property="og:image" content="../../assets/me.svg">
    <meta property="og:image:width" content="50">
    <meta property="og:image:height" content="68">
    <meta property="og:image:alt" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <!-- Favicon -->
    <link rel="icon" href="../../assets/me.svg">
    <!-- styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0..1&icon_names=home&display=swap" />
    <link rel="stylesheet" href="restricted-textarea.css">
</head>

<body>
    <header>
        <a href="../../index.html" class="material-symbols-rounded">home</a>
    </header>
    <main>
        <h1>Restricted Textarea</h1>
        <div class="textarea-container">
            <label for="textarea">Write your message</label>
            <textarea name="textarea" id="textarea" placeholder="Start typing.." maxlength="250" rows="5" cols="30"></textarea>
            <p class="counter">0 / 250</p>
        </div>
    </main>
    <footer>&copy; 2026 Masyitah Salwa. All rights reserved.</footer>
    <script src="restricted-textarea.js"></script>
</body>

</html>