* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
    text-align: center;
}

h1,
p {
    margin: 0;
    line-height: 1.2;
}

.textarea-container {
    margin: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: start;
}

textarea {
    border-radius: 1rem;
    border: 2px solid black;
    margin: 0.5rem 0 1.5rem 0;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.exceed-limit {
    color: red;
    outline-color: red;
    border-color: red;
}

.counter {
    position: absolute;
    bottom: 2rem;
    right: 0.8rem;
}