body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 2rem;
    text-align: center;
}

h1,
p {
    margin: 0;
    line-height: 1.2;
}

.form-grid,
button,
input {
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.form-grid {
    padding: 2rem;
    margin: 1.5rem 0 2rem 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: start;
}

.input-group .error-msg {
    color: rgb(180, 0, 0);
    font-size: small;
}

input {
    padding: 0.5rem;
}

input[aria-invalid='true'] {
    border-color: rgb(180, 0, 0);
}

input:focus,
input:focus-visible,
button:focus,
button:focus-visible {
    border-color: transparent;
    outline: 3px solid rgba(0, 0, 255, 0.5);
}

.input-password {
    position: relative;
    display: flex;
}

#confirm-password,
#password {
    width: 100%;
}

button {
    cursor: pointer;
    background-color: black;
    color: white;
}

.toggle-password {
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    border: none;
    color: black;
    background-color: transparent;
}

.progress {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.progress-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 2px solid black; */
    background: conic-gradient(black 65%, #dcdfe6 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.progress-wrapper::before {
    content: '';
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: white;
}

.percentage {
    position: relative;
    font-size: 20px;
}

ul {
    list-style: none;
    background-color: #dcdfe6;
    padding: 1rem 2rem;
    margin: 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.p-deco {
    text-decoration: line-through;
    color: rgb(92, 92, 92);
}